[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://pypi.douban.com/simple/"
verify_ssl = false
name = "pypidouban"

[packages]
openpyxl = "*"
requests = "*"
pymysql = "*"
path = "*"
configparser = "*"
jsonpath = "*"
pytest = "*"
pytest-assume = {version = "*", index = "pypidouban"}
gevent = "*"

[dev-packages]
pymysql = "*"

[requires]
python_version = "3.7.9"
